ul li {
    float: left;
    display: block;
    background-color: #9A5927;
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 14pt;
}

ul li a {
    color: #F9F59A;
    text-decoration: none;
}

ul li ul {
    display:
}
